*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whiteSmoke;
    color: #333;
    padding: 50px 20px;
    font-family: sans-serif;
    font-size: 15px;
}

.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

h1{
    font-size: 2.3rem;
}

h3{
    margin: 50px 0 30px 0;
    font-size: 1.2rem;
}

p{
    margin: 30px 0;
}

figure{
    background-color: white;
    padding: 20px 10px;
}

img{
    display: block;
}

figcaption{
    line-height: 1.5;
}

#image{
    max-width: 100%;
    max-height: 100%;
    margin: 10px auto;
}

#tribute-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    max-width: 600px;
    padding: 0 30px;
}

blockquote{
    max-width: 600px;
    font-style: italic;
}

cite::before{
    content: '-- '
}

@media only screen and (min-width:460px){
    body{
        padding: 80px 20px 50px 20px;
    }
    h1{
        font-size: 2.5rem;
    }
}