*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whiteSmoke;
    color: #333;
    padding: 80px 20px 50px 20px;
    font-family: sans-serif;
}

.center{
    text-align: center;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
}
